<div th:fragment="menu" class="col-12 col-sm-2  bg-light">
    <div class="col-ms-2 text-center p-3">
        <img th:src="@{/images/logocoffeebreak.png}"
             alt="Logo coffee break"
             title="Logo coffee break"
             width="150px">
    </div>
    <hr>
    <nav class="nav nav-pills flex-column mb-auto">
        <ul class="list-unstyled">
            <li class="pb-2">
                <div class="d-grid gap-2">
                    <button class="btn
                                   btn-primary d-flex
                                   justify-content-between
                                   align-items-center"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseHome"
                            aria-expanded="false"
                            aria-controls="collapseHome">
                        Pedidos
                        <span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </button>
                </div>
                <div class="collapse" id="collapseHome">
                    <ul class="list-group">
                        <li class="list-group-item
                                   text-start
                                   btn btn-light
                                   m-1">
                            Lista de Pedidos
                        </li>
                        <li class="list-group-item
                                   text-start
                                   btn btn-light
                                   m-1">
                            Cadastrar novo pedido
                        </li>
                    </ul>
                </div>
            </li>

            <li class="pb-2">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary
                                   d-flex justify-content-between
                                   align-items-center"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseFuncionarios"
                            aria-expanded="false"
                            aria-controls="collapseFuncionarios">
                        Funcionários
                        <span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </button>
                </div>
                <div class="collapse" id="collapseFuncionarios">
                    <ul class="list-group">
                        <li>
                            <a class="list-group-item
                                   text-start
                                   btn btn-light
                                   m-1" th:href="@{/administrator/employees}">
                                Listar funcionários
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item
                                   text-start
                                   btn btn-light
                                   m-1" th:href="@{/administrator/employees/create}">
                                Cadastrar funcionário
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="pb-2">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary
                                   d-flex
                                   justify-content-between
                                   align-items-center"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseProdutos"
                            aria-expanded="false"
                            aria-controls="collapseProdutos">
                        Produtos
                        <span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </button>
                </div>
                <div class="collapse" id="collapseProdutos">
                    <ul class="list-group">
                        <li>
                            <a class="list-group-item
                                   text-start
                                   btn btn-light
                                   m-1" th:href="@{/administrator/products}">
                                Lista de Produtos
                            </a>
                        </li>
                        <li>
                            <a class="list-group-item
                                   text-start
                                   btn btn-light
                                   m-1" th:href="@{/administrator/products/create}">
                                Cadastrar Produto
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="pb-2">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary
                                   d-flex
                                   justify-content-between
                                   align-items-center"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseEstoque"
                            aria-expanded="false"
                            aria-controls="collapseEstoque">
                        Estoque
                        <span>
                            <i class="fa-solid fa-chevron-down"></i>
                        </span>
                    </button>
                </div>

                <div class="collapse" id="collapseEstoque">
                    <ul class="list-group">
                        <li class="list-group-item
                                   text-start
                                   btn btn-light
                                   m-1">
                            Listar Produtos
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>