<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link th:href="@{/css/cadastro/cadastro.css}" rel="stylesheet">
    <th:block th:replace="~{ layout/fragmentos/coffebreak/links :: links }"></th:block>
</head>
<body class="container">
<div th:replace="~{layout/coffeebreak/header :: header}"></div>
<div class="container_content">
    <div class="form-container">
        <form th:action="@{/cadastro/create}" th:object="${cliente}" method="post">
            <input type="hidden" name="id" th:if="${cliente.id != null}"
                   th:value="${cliente.id}">

            <label class="span-title">Nome</label>
            <input type="text"
                   class="input-group"
                   id="nome"
                   th:field="*{nome}"
                   th:value="${cliente.nome}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('nome')}"
                  th:errors="*{nome}">
            </span>

            <label class="span-title">Email</label>
            <input type="email"
                   class="input-group"
                   id="email"
                   th:field="*{email}"
                   th:value="${cliente.email}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}">
            </span>

            <label class="span-title">Senha</label>
            <input type="password"
                   class="input-group"
                   id="senha"
                   th:field="*{senha}"
                   th:value="${cliente.senha}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('senha')}"
                  th:errors="*{senha}">
            </span>

            <label class="span-title">Celular</label>
            <input type="text"
                   class="input-group"
                   id="telefone"
                   th:field="*{telefone}"
                   th:value="${cliente.telefone}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('telefone')}"
                  th:errors="*{telefone}">
            </span>

            <label class="span-title">Endereço</label>
            <input type="text"
                   class="input-group"
                   id="endereco"
                   th:field="*{endereco}"
                   th:value="${cliente.endereco}">


            <span class="text-danger"
                  th:if="${#fields.hasErrors('endereco')}"
                  th:errors="*{endereco}">
            </span>

            <label class="span-title">CPF</label>
            <input type="text"
                   class="input-group"
                   id="cpf"
                   th:field="*{cpf}"
                   th:value="${cliente.cpf}">

            <span class="text-danger"
                  th:if="${#fields.hasErrors('cpf')}"
                  th:errors="*{cpf}">
            </span>

            <button type="submit">Cadastre-se</button>

        </form>
        <div th:if="${errorCliente}">
            <span th:text="${errorCliente}"></span>
        </div>
    </div>
    <div class="img-container">
        <img th:src="@{/images/login/imgcoffee.jpg}" alt="Imagem café" title="Logo coffee break"/>
    </div>
</div>
<div th:replace="~{layout/coffeebreak/footer :: footer}"></div>
<div th:replace="~{layout/fragmentos/coffebreak/scripts :: scripts}"></div>
</body>
</html>