<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Coffee Break</title>
    <link th:href="@{/css/login/login.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="form-container">
           <img th:src="@{/images/logocoffeebreak.png}" alt="Logo coffee break">

            <div class="form">
            <span id="title">CPF</span>
            <input type="text" placeholder="CPF"/>
            <div>
                <span>ou</span>
                <span>cadastre-se</span>
            </div>
                <form>
                <button>Entrar</button>
                </form>
            </div>
        </div>

        <div class="img-container">
            <img th:src="@{/images/login/imgcoffee.jpg}" alt="Imagem café" title="Logo coffee break" width="150px"/>
        </div>

    </div>


</body>
</html>