<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre - Coffee Break</title>
    <th:block th:replace="~{ layout/fragmentos/coffebreak/links :: links }"></th:block>
    <link rel="stylesheet" th:href="@{/css/pedidos/pedidos.css}">
</head>
<body>
<div th:replace="~{layout/coffeebreak/header :: header}"></div>
<main class="container1">
    <div class="buttons-container">
        <a class="button button-active" th:href="@{/pedidos}">Pedidos</a>
    	<a class="button" th:href="@{/historicoPedidos}">Últimos Pedidos</a>

    </div>
    <div class="container1">
        <th:block th:each="pedido : ${pedidos}">
            <div class="inner-content">
                <div class="order-header">
                    <div class="order-image">
                        <img src="/images/home/prod-01.png" alt="Mocha">
                        <p class="product-name" th:text="*{pedido.getCliente().getNome()}"></p>
                    </div>

                    <div class="order-details">
                        <p class="order-date">Data: <span th:text="*{pedido.getCreatedAt()}"></span></p>
                        <p class="order-items">Total de Itens: <span th:text="*{pedido.getItemProdutos.size()}"></span></p>
                        <p class="order-total">Total do Pedido: R$ <span th:text="*{pedido.getPrecoTotal()}"></span></p>
                    </div>
                    <div class="order-status-container">
                        <p class="order-status">Status</p>
                        <span class="status-andamento">
				        <i class="fa fa-spinner fa-spin"></i>
				    </span>
                        <p class="order-andamento">Em andamento</p>
                    </div>
                </div>
                <div class="order-actions">
                    <button class="action-btn reorder-btn">Compre de Novo</button>
                    <button class="action-btn1 details-btn">Ver Detalhes</button>
                </div>
            </div>
        </th:block>
    </div>
</main>

<div th:replace="~{layout/coffeebreak/footer :: footer}"></div>
<div th:replace="~{layout/fragmentos/coffebreak/scripts :: scripts}"></div>
</body>
</html>
