<header th:fragment="header">
    <nav class="container header_menu">
        <div class="header_menu_soon">
            <a th:href="@{~/}">
                <img th:src="@{/images/logocoffeebreak.png}"
                     alt="logo Coffee Break"
                     title="logo Coffee Break">
            </a>
        </div>
        <div class="header_menu_list" id="header_menu_list">
            <ul class="header_menu_list_ul">
                <li class="header_menu_list_ul_item"><a th:href="@{/#cardapio}">Cardápio</a></li>
                <li class="header_menu_list_ul_item"><a th:href="@{~/pedidos}">Pedidos</a></li>
                <li class="header_menu_list_ul_item"><a th:href="@{~/sobre}">Sobre</a></li>
                <li class="header_menu_list_ul_item">
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
                <li class="header_menu_list_ul_item">
                    <a href="#">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="header_menu_mobile_list" id="header_menu_mobile_list">
            <div>
                <span id="menu_mobile_button">
                    <i class="fa-solid fa-bars"></i>
                </span>
            </div>
            <div class="header_menu_mobile_list_nav" id="header_menu_mobile_list_ul">
                <ul class="header_menu_mobile_list_ul">
                    <li class="header_menu_mobile_list_ul_item"><a href="#">Cardápio</a></li>
                    <li class="header_menu_mobile_list_ul_item"><a th:href="@{~/Pedidos}">Pedidos</a></li>
                    <li class="header_menu_mobile_list_ul_item"><a th:href="@{~/sobre}">Sobre</a></li>
                    <li class="header_menu_mobile_list_ul_item">
                        <a href="#">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                    </li>
                    <li class="header_menu_mobile_list_ul_item">
                        <a href="#">
                            <i class="fa-solid fa-user"></i>
                        </a>
                    </li>
                </ul>z
            </div>
        </div>
    </nav>
</header>