<div th:fragment="modal (nome)" class="modal fade" id="exampleModal"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-warning">Essa ação não poderá ser desfeita!</p>
                <p>Deseja excluir o <span th:text="*{nome}"></span> <span class="fw-bold text-uppercase" id="nome"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Cancelar
                </button>

                <form id="formularioExcluir" method="post">
                    <button class="btn btn-danger btnConfirmarDelecao">
                        Deletar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>