.main_description {
    border: solid 2px #7A5955;
    padding: 10px;
    margin: 20px;
}

.main_description_content {
    display: flex;
    justify-content: center;
}
.main_description_title {
    display: flex;
    flex-direction: column;
}

.main_description_title_return {
    margin: 20px 10px;
}

.main_description_title h1 {
    color: #422217;
    font-size: 2em;
    margin: 10px;
}

.main_description_title_return {
    margin: 20px 10px;
}

.main_description_content_img {
    flex-basis: 50%;
    text-align: center;
}
.main_description_content_img img {
  max-width: 400px;
}

.main_description_content_info {
    flex-basis: 50%;
    padding: 10px;
}

.main_description_content_info h2 {
    color: #422217;
    font-size: 3em;
}

.main_description_content_info_price  {
    font-size: 2em;
    font-weight: bold;
}

.main_description_content_info p {
    font-size: 1.2em;
    margin: 20px 0;
}

.btn-style a {
    background-color: #28AA63;
    padding:10px;
    border-radius: 10px;
    text-decoration: none;
    color: #F7EFE1;
    font-size: 1.2em;
}
.btn-style a:hover {
    background-color: #115e36;
    color: #F7EFE1;
}