<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock - List</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
          type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/administrator/menu :: menu }"></div>
        <!-- CONTEÚDO PRINCIPAL-->
        <div class="col-12 col-sm-10">
            <!-- CONTEÙDO -->
            <main class="bg-white  p-3">
                <div class="card mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2 p-2">
                                <li class="breadcrumb-item">Estoque</li>
                                <li class="breadcrumb-item" aria-current="page">Lista de Ingredientes</li>
                            </ol>
                        </nav>
                        <div>
                            <img th:src="@{/images/user_default.png}"
                                 alt="Imagem do usuário"
                                 title="Imagem do usuário"
                                 width="60px">
                        </div>
                    </div>
                </div>

                <div class="card p-3 vh-100">

                    <div class="mb-3">
                        <div class="d-flex flex-row-reverse">
                            <a class="btn btn-primary" th:href="@{/administrator/stock/create}">Cadastrar
                                Ingrediente</a>
                        </div>

                        <div class="mb-3">
                            <h2 class="h2 text-black-50">Lista de Ingredientes</h2>
                        </div>

                        <form class="row g-3 col-4" th:action="@{/administrator/stock/ingredientes}">
                            <div class="col-auto">
                                <input id="buscar-nome"
                                       type="search"
                                       name="nome"
                                       class="form-control"
                                       placeholder="Buscar por nome"
                                       aria-label="Buscar por nome">
                            </div>
                            <div class="col-auto">
                                <button id="search-button" class="btn btn-primary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-12">
                        <table class="table">
                            <div class="alert alert-success" role="alert" th:if="${success}">
                                <p th:text="${success}"></p>
                            </div>
                            <div class="alert alert-danger" role="alert" th:if="${error}">
                                <p th:text="${error}"></p>
                            </div>
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="ingrediente : ${pagina.content}">
                                <td th:text="${ingrediente.nome}">Nome do Produto</td>
                                <td th:text="${ingrediente.quantidade}">Quantidade</td>
                                <td>
                                    <div class="d-flex justify-content-start">
                                        <a class="btn btn-primary"
                                           th:href="@{/administrator/stock/ingredientes/update(id=${ingrediente.id})}">
                                            <i class="fa-solid fa-pen"></i>
                                        </a>
                                        <button type="button"
                                                class="actionForm btn btn-danger mx-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"
                                                th:attr="data-id=''+${ingrediente.id},
                                                         data-nome=''+${ingrediente.nome},
                                                         data-url='/administrator/stock/ingredientes/deletar'">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(pagina.content)}">
                                <td>Nenhum Registro disponível</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 text-center" th:if="${not #lists.isEmpty(pagina.content)}">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li th:class="${pagina.first} ? disabled">
                                    <a class="page-link"
                                       th:href="@{/administrator/stock/ingredientes(page=${pagina.number - 1})}">
                                        &laquo; </a>
                                </li>
                                <th:block th:each="p : ${#numbers.sequence(0, pagina.totalPages - 1)}"
                                          th:with="paginaAtual=${pagina.number}">
                                    <li th:class="${paginaAtual == p} ? 'active'">
                                        <a class="page-link" th:href="@{/administrator/stock/ingredientes(page=${p})}">[[${p
                                            + 1}]]</a>
                                    </li>
                                </th:block>

                                <li th:class="${pagina.last} ? disabled">
                                    <a class="page-link"
                                       th:href="@{/administrator/stock/ingredientes(page=${pagina.number + 1})}">
                                        &raquo; </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- RODAPÉ -->
                <div th:replace="~{layout/administrator/footer :: footer }"></div>
            </main>
        </div>
    </div>
</div>
<div th:replace="~{layout/fragmentos/administrator/modal :: modal (' Deseja excluir o ingrediente ', 'Deletar', 'btn-danger')}"></div>
<div th:replace="~{layout/fragmentos/administrator/scripts :: scripts}"></div>
</body>
</html>