<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos - Lista de Pedidos</title>
    <link rel="stylesheet"
          th:href="@{webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
          type="text/css" >
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/administrator/menu :: menu }"></div>
        <!-- CONTEÚDO PRINCIPAL-->
        <div class="col-12 col-sm-10">
            <main class="bg-white  p-3">
                <div th:replace="~{layout/administrator/breadcrumb :: breadcrumb ('Pedidos', 'Lista de Pedidos') }"></div>
                
                <div class="card p-3 vh-100 shadow">
                    <div class="mb-3">
                        <div class="d-flex flex-row-reverse">
                            <a class="btn btn-primary"
                               th:href="@{/administrator/novo-pedido}">Cadastrar pedido</a>
                        </div>

                        <div class="mb-3">
                            <h2 class="h2 text-black-50">Lista de Pedidos</h2>
                        </div>
                    </div>

                    <div class="d-flex justify-content-start align-itens-center">
                        <th:block th:each="pedido : ${pedidos}">
                            <div class="card me-2 mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">Pedido</h5>
                                    <p class="card-text">
                                        Itens: <span th:text="*{pedido.getItemProdutos().size()}"></span></p>
                                    <p class="card-text"></p>
                                    <p class="card-text">Status:
                                        <span class="badge bg-warning text-dark" th:text="*{pedido.getSituacao()}"></span>
                                    </p>
                                    <p class="card-text">Cliente:
                                        <span th:text="*{pedido.getCliente().getNome()}"></span>
                                    </p>

                                    <div class="collapse" th:id="${pedido.getId()}">
                                        <th:block th:each="items : ${pedido.getItemProdutos()}">
                                            <div class="d-flex justify-content-around align-items-center">
                                                <p class="text-uppercase fw-bold" th:text="${items.getProduto().getNome()}"></p>
                                                <p class="fs-4 text-primary fw-bold" th:text="*{items.getQuantidade()}"></p>
                                            </div>
                                        </th:block>
                                    </div>

                                    <p>Preço Total: R$<span th:text="*{pedido.getPrecoTotal()}"></span></p>
                                    <div class="d-flex justify-content-start">
                                        <button class="btn btn-primary  me-1"
                                                type="button"
                                                data-bs-toggle="collapse"
                                                th:data-bs-target="'#'+${pedido.getId()}"
                                                aria-expanded="false"
                                                th:aria-controls="${pedido.getId()}">
                                            Detalhes
                                        </button>

                                        <button class="actionForm btn btn-success finalizar"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"
                                                th:attr="data-id=''+${pedido.id},
                                                         data-nome=''+${pedido.getCliente().getNome()},
                                                         data-url='/administrator/finalizar-pedido'">
                                            Finalizar Pedido
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div th:replace="~{layout/administrator/footer :: footer }"></div>
            </main>
        </div>
    </div>
</div>
<div th:replace="~{layout/fragmentos/administrator/modal :: modal (' Deseja finalizar o pedido de ', 'Finalizar Pedido', 'btn-primary')}"></div>
<div th:replace="~{layout/fragmentos/administrator/scripts :: scripts}"></div>
</body>
</html>