body {
    margin: 0;
    padding: 0;
    background-color: #F7EFE1;
}

.container_content {
    display: flex;
    align-items: center;
    margin-top:10px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-bottom: 40px
}
.form-container form {
    flex-direction: column;
    display: flex;
}
.form-container img {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.text-danger {
    padding: 4px 0;
    color: red;
    font-size: 1.2em;
}



.img-container img {
    max-width:500px
}

.span-title {
    font-size: 24px;
    color: #7A5955;
    margin-bottom: 8px;
    margin-top: 13px;
}

.input-group {
    width: 390px;
    height: 44px;
    border-radius: 8px;
    background: none;
    border: 1px solid #7A5955;
    padding: 0px 16px 0px 16px;
    outline: none;
}

.input-group::placeholder {
    color: #7A5955;
}
button {
    width: 218px;
    height: 48px;
    border-radius: 16px;
    border: none;
    background-color: #28AA63;
    color: #FFFFFF;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    background-color: #28BC89;
    color: #FFFFFF;
    cursor: pointer;
}

