<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionários - Cadastrar Funcionário</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
          type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/administrator/menu :: menu }"></div>
        <div class="col-12 col-sm-10">
            <main class="bg-white  p-3">
                <div th:replace="~{layout/administrator/breadcrumb :: breadcrumb ('Funcionários', 'Cadastrar funcionário') }"></div>
                <div class="card p-3">

                    <div class="mb-3">
                        <h2 class="h3 text-black-50">Cadastrar Funcionário</h2>
                    </div>

                    <div class="alert alert-warning" th:if="${error}">
                        <p th:text="${error}"></p>
                    </div>

                    <div class="col-8">
                        <form th:action="${funcionario.getId() == null ? '/administrator/employees/create' : '/administrator/employees/update'}"
                              th:object="${funcionario}"
                              method="post">

                            <input type="hidden" name="id" th:if="${funcionario.id != null}"
                                   th:value="${funcionario.id}">

                            <div class="form-group mb-3" th:classappend="${#fields.hasErrors('nome')} ? validation">
                                <label for="nome" class="control-label">Nome</label>
                                <input type="text"
                                       class="form-control"
                                       id="nome"
                                       th:field="*{nome}"
                                       th:value="${funcionario.nome}">

                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('nome')}"
                                      th:errors="*{nome}">
                                </span>
                            </div>

                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email"
                                       class="form-control"
                                       id="email"
                                       th:field="*{email}">

                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('email')}"
                                      th:errors="*{email}">
                                </span>
                            </div>

                            <div class="mb-3">
                                <label for="entrada" class="form-label">Data de Entrada</label>
                                <input type="datetime-local"
                                       class="form-control"
                                       id="entrada"
                                       th:field="*{entrada}">

                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('entrada')}"
                                      th:errors="*{entrada}">
                                </span>
                            </div>

                            <div class="mb-3">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="password"
                                       class="form-control"
                                       id="senha"
                                       th:field="*{senha}">

                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('senha')}"
                                      th:errors="*{senha}">
                                </span>
                            </div>
                            <div class="mb-3">
                                <label for="tipoFuncionario" class="form-label">Tipo de Funcionário</label>
                                <select class="form-select"
                                        id="tipoFuncionario"
                                        th:field="*{tipoFuncionario}">
                                    <option value="">Selecione o tipo</option>

                                    <div th:each="tipo : ${tiposFuncionario}">
                                        <option th:value="${tipo}" th:text="${tipo}"></option>
                                    </div>
                                </select>

                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('tipoFuncionario')}"
                                      th:errors="*{tipoFuncionario}">
                                    </span>
                            </div>

                            <div>
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                                <a class="btn btn-danger" th:href="@{/administrator/employees}">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- RODAPÉ -->
                <div th:replace="~{layout/administrator/footer :: footer }"></div>
            </main>
        </div>
    </div>
</div>
<div th:replace="~{layout/fragmentos/administrator/scripts :: scripts}"></div>
</body>
</html>