<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
          type="text/css" >
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/administrator/menu :: menu }"></div>
        <!-- CONTEÚDO PRINCIPAL-->
        <div class="col-12 col-sm-10">
            <!-- CONTEÙDO -->
            <main class="bg-white  p-3">

                <div class="card p-3 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2">
                                <li class="breadcrumb-item">Funcionários</li>
                                <li class="breadcrumb-item" aria-current="page">Cadastrar funcionário</li>
                            </ol>
                        </nav>

                        <div>
                            <img th:src="@{/images/user_default.png}"
                                 alt="Imagem do usuário"
                                 title="Imagem do usuário"
                                 width="60px">
                        </div>
                    </div>
                </div>

                <div class="card p-3">
                    <div class="mb-3">
                        <div class="d-flex flex-row-reverse">
                            <a class="btn btn-primary" th:href="@{/administrator/employees/create}">Cadastrar funcionário</a>
                        </div>
                    </div>

                    <div class="mb-3">
                        <h2 class="h2 text-black-50">Lista de Funcionários</h2>
                    </div>

                    <div class="alert alert-success" th:if="${success}">
                        <p th:text="${success}"></p>
                    </div>
                    <div class="alert alert-success" th:if="${error}">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Data de Entrada</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="funcionario : ${pagina.content}">
                                    <td th:text="${funcionario.nome}"></td>
                                    <td th:text="${funcionario.email}"></td>
                                    <td th:text="${funcionario.entrada.toLocalDate()}"></td>
                                    <td th:text="${funcionario.tipoFuncionario}"></td>
                                    <td>
                                        <div class="d-flex flex-row">
                                            <div class="ms-0">
                                                <form th:action="@{/administrator/employees/update/{id}(id=${funcionario.id})}"
                                                      method="get">
                                                    <button class="btn btn-primary" type="submit" >
                                                        <i class="fa-solid fa-pen"></i>
                                                    </button>
                                                </form>
                                            </div>

                                            <div class="ms-1">
                                                <form th:action="@{/administrator/employees/delete/{id}(id=${funcionario.id})}"
                                                      method="post">
                                                    <input type="hidden" name="id"  th:value="${funcionario.id}">
                                                    <button class="btn btn-danger" type="submit">
                                                        <i class="fa-solid fa-trash"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            <tr th:if="${#lists.isEmpty(pagina.content)}">
                                <td>Nenhum registro disponível</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 text-center" th:if="${not #lists.isEmpty(pagina.content)}">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li th:class="${pagina.first} ? disabled">
                                    <a class="page-link" th:href="@{/administrator/employees(page=${pagina.number - 1})}"> < </a>
                                </li>
                                <th:block th:each="p : ${#numbers.sequence(0, pagina.totalPages - 1)}"
                                          th:with="paginaAtual=${pagina.number}">
                                    <li th:class="${paginaAtual == p} ? 'active'">
                                        <a class="page-link" th:href="@{/administrator/employees(page=${p})}">[[${p + 1}]]</a>
                                    </li>
                                </th:block>

                                <li th:class="${pagina.last} ? disabled">
                                    <a class="page-link" th:href="@{/administrator/employees(page=${pagina.number + 1})}"> > </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </main>
            <!-- RODAPÉ -->
            <div th:replace="~{layout/administrator/footer :: footer }"></div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/f6b0e6c728.js"
        crossorigin="anonymous"></script>
</body>
</html>