<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" type="text/css">
    <!-- Incluir CSS para DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluir JS para DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/administrator/menu :: menu }"></div>
        <!-- CONTEÚDO PRINCIPAL-->
        <div class="col-12 col-sm-10">
            <!-- CONTEÚDO -->
            <main class="bg-white  p-3">

                <div class="card mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2 p-2">
                                <li class="breadcrumb-item">Produtos</li>
                                <li class="breadcrumb-item" aria-current="page">Lista de Produtos</li>
                            </ol>
                        </nav>

                        <div>
                            <img th:src="@{/images/user_default.png}" alt="Imagem do usuário" title="Imagem do usuário" width="60px">
                        </div>
                    </div>
                </div>

                <div class="alert alert-success" th:if="${success}">
                    <p th:text="${success}"></p>
                </div>

                <div class="card p-3 vh-100">
                    <div class="mb-3">
                        <div class="d-flex flex-row-reverse">
                            <a class="btn btn-primary" th:href="@{/administrator/products/create}">Cadastrar Produto</a>
                        </div>

                        <div class="mb-3">
                            <h2 class="h2 text-black-50">Lista de Produtos</h2>
                        </div>
                    </div>
                    <div class="col-12">
                        <table class="table" id="productTable">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Quantidade Utilizada</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="produto : ${produtos}">
                                <td th:text="${produto.nome}"></td>
                                <td th:text="${produto.quantidadeUtilizada}"></td>
                                <td th:text="${produto.preco}"></td>
                                <td>
                                    <a class="btn btn-success" th:href="@{/administrator/products/update(id=${produto.id})}">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <a th:href="@{/administrator/products/delete/{id}(id=${produto.id})}" class="btn btn-danger" th:id="${produto.id}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                 RODAPÉ -->
                <div th:replace="~{layout/administrator/footer :: footer }"></div>
            </main>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/f6b0e6c728.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $('#productTable').DataTable({
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json"
            },
            "pageLength": 6,  // Define o número de registros por página para 7
            "lengthMenu": [6, 12, 18, 24]  // Opções no seletor de "exibir por página"
        });
    });
</script>

</body>
</html>
