<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos - Lista de Produtos</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
          type="text/css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/administrator/menu :: menu }"></div>
        <div class="col-12 col-sm-10">
            <main class="bg-white  p-3">
                <div th:replace="~{layout/administrator/breadcrumb :: breadcrumb ('Produtos', 'Lista de Produtos') }"></div>

                <div class="card p-3 mb-4 vh-100 shadow">
                    <div class="alert alert-success" th:if="${success}">
                        <p th:text="${success}"></p>
                    </div>

                    <div class="mb-3">
                        <div class="d-flex flex-row-reverse">
                            <a class="btn btn-primary"
                               th:href="@{/administrator/employees/create}">
                                Cadastrar Produto
                            </a>
                        </div>

                        <div class="mb-3">
                            <h2 class="h2 text-black-50">Lista de Produtos</h2>
                        </div>

                        <form class="row g-3 col-4" th:action="@{/administrator/products}">
                            <div class="col-auto">
                                <input id="buscar-nome"
                                       type="search"
                                       name="nome"
                                       class="form-control"
                                       placeholder="Buscar por nome"
                                       aria-label="Buscar por nome">
                            </div>
                            <div class="col-auto">
                                <button id="search-button" class="btn btn-primary" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                    <div class="col-12">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Quantidade Utilizada</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="produto : ${produtos.content}">
                                <td th:text="${produto.nome}"></td>
                                <td th:text="${produto.quantidadeUtilizada}"></td>
                                <td th:text="${produto.preco}"></td>
                                <td>
                                    <div class="d-flex flex-row">
                                        <div class="ms-0">
                                            <a class="btn btn-primary"
                                               th:href="@{/administrator/products/update/{id}(id=${produto.id})}">
                                                <i class="fa-solid fa-pen"></i>
                                            </a>
                                        </div>

                                        <button type="button"
                                                class="actionForm btn btn-danger mx-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#exampleModal"
                                                th:attr="data-id=''+${produto.id},
                                                             data-nome=''+${produto.nome},
                                                             data-url='/administrator/products/delete'">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(produtos.content)}">
                                <td>Nenhum registro disponível</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 text-center" th:if="${not #lists.isEmpty(produtos.content)}">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li th:class="${produtos.first} ? disabled">
                                    <a class="page-link" th:href="@{/administrator/employees(page=${produtos.number - 1})}">&laquo;</a>
                                </li>

                                <th:block th:each="p : ${#numbers.sequence(0, produtos.totalPages - 1)}"
                                          th:with="paginaAtual=${produtos.number}">
                                    <li th:class="${paginaAtual == p} ? 'active'">
                                        <a class="page-link" th:href="@{/administrator/products(page=${p})}">[[${p + 1}]]</a>
                                    </li>
                                </th:block>

                                <li th:class="${produtos.last} ? disabled">
                                    <a class="page-link" th:href="@{/administrator/products(page=${produtos.number + 1})}">&raquo;</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div th:replace="~{layout/administrator/footer :: footer }"></div>
            </main>
        </div>
    </div>
</div>
<div th:replace="~{layout/fragmentos/administrator/modal :: modal (' Deseja excluir o produto ', 'Deletar', 'btn-danger')}"></div>
<div th:replace="~{layout/fragmentos/administrator/scripts :: scripts}"></div>
</body>
</html>
