<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - List</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"
          type="text/css" >
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:replace="~{layout/administrator/menu :: menu }"></div>
        <!-- CONTEÚDO PRINCIPAL-->
        <div class="col-12 col-sm-10">
            <!-- CONTEÙDO -->
            <main class="bg-white  p-3">

                <div class="card p-3 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mt-2">
                                <li class="breadcrumb-item">Produtos</li>
                                <li class="breadcrumb-item" aria-current="page">Lista de  Produtos</li>
                            </ol>
                        </nav>

                        <div>
                            <img th:src="@{/images/user_default.png}"
                                 alt="Imagem do usuário"
                                 title="Imagem do usuário"
                                 width="60px">
                        </div>
                    </div>
                </div>

                <div class="card p-3">
                    <div class="col-8">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Quantidade Utilizada</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="produto : ${produtos}">
                                <td th:text="${produto.nome}">Nome do Produto</td>
                                <td th:text="${produto.quantidadeUtilizada}">Quantidade Utilizada</td>
                                <td th:text="${produto.preco}">Preço</td>
                                <td>
                                    <a href="#" class="btn btn-success">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <a href="#" class="btn btn-danger">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            <!-- RODAPÉ -->
            <div th:replace="~{layout/administrator/footer :: footer }"></div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
<script src="https://kit.fontawesome.com/f6b0e6c728.js"
        crossorigin="anonymous"></script>
</body>
</html>